
#h-box {
        border-bottom: 2px solid #000000;
	text-align:center;
	color: #DCDCDC;
	background-color: #000000;
        }

#v-box {
	color: #000000;
	background-color: #000000;
	
}

#c-box {
	color: #000000;
	background-color: #000000;       

}


.category {　　　} 