{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}EWS - noVNC{% endblock %}

{% block additional_head %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <span id="noVNC_status"></span>
    <div id="noVNC_buttons" class="btn-group pull-right">
      <button type="button" class="btn btn-default" id="sendCtrlAltDelButton" >Ctrl+Alt+Del</button>
      <button type="button" class="btn btn-default" id="xvpShutdownButton" >Shutdown</button>
      <button type="button" class="btn btn-default" id="xvpRebootButton" >Reboot</span></button>
      <button type="button" class="btn btn-default" id="xvpResetButton" >Reset</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12" id="noVNC_canvas_parent">
    <canvas id="noVNC_canvas" class="center-block">
        Canvas not supported.
    </canvas>
  </div>
</div>
{% endblock %}

{% block additional_body %}
<script id="novnc-parameter" type="application/json">
{
  "host": "{{ novnc_url }}",
  "port": "{{ vm.vncport }}",
  "password": "{{ vm.password }}"
}
</script>
<script>
  var INCLUDE_URI="{% static "noVNC/include/" %}";
</script>
<script src="{% static "noVNC/include/util.js" %}"></script>
<script src="{% static "noVNC/include/webutil.js" %}"></script>
<script src="{% static "noVNC/include/base64.js" %}"></script>
<script src="{% static "noVNC/include/websock.js" %}"></script>
<script src="{% static "noVNC/include/des.js" %}"></script>
<script src="{% static "noVNC/include/keysymdef.js" %}"></script>
<script src="{% static "noVNC/include/keyboard.js" %}"></script>
<script src="{% static "noVNC/include/input.js" %}"></script>
<script src="{% static "noVNC/include/display.js" %}"></script>
<script src="{% static "noVNC/include/jsunzip.js" %}"></script>
<script src="{% static "noVNC/include/rfb.js" %}"></script>
<script src="{% static "noVNC/include/keysym.js" %}"></script>

<script>
"use strict";
var rfb;
function FBUComplete(rfb, fbu) {
    rfb.set_onFBUComplete(function() { });
}
function passwordRequired(rfb) {
    var msg;
    msg = '<form onsubmit="return setPassword();"';
    msg += '  style="margin-bottom: 0px">';
    msg += 'Password Required: ';
    msg += '<input type=password size=10 id="password_input" class="noVNC_status">';
    msg += '<\/form>';
    $('#noVNC_status_bar').attr("class", "noVNC_status_warn");
    $('#noVNC_status').html(msg);
}
function setPassword() {
    rfb.sendPassword($('#password_input').value());
    return false;
}
function sendCtrlAltDel() {
    rfb.sendCtrlAltDel();
    return false;
}
function xvpShutdown() {
    rfb.xvpShutdown();
    return false;
}
function xvpReboot() {
    rfb.xvpReboot();
    return false;
}
function xvpReset() {
    rfb.xvpReset();
    return false;
}
function updateState(rfb, state, oldstate, msg) {
    var s, sb, cad, level;
    s = $('#noVNC_status');
    sb = $('#noVNC_status_bar');
    cad = $('#sendCtrlAltDelButton');
    switch (state) {
        case 'failed':       level = "error";  break;
        case 'fatal':        level = "error";  break;
        case 'normal':       level = "normal"; break;
        case 'disconnected': level = "normal"; break;
        case 'loaded':       level = "normal"; break;
        default:             level = "warn";   break;
    }

    if (state === "normal") {
        cad.attr("disabled", false);
    } else {
        cad.attr("disabled", true);
        xvpInit(0);
    }

    if (typeof(msg) !== 'undefined') {
        sb.attr("class", "noVNC_status_" + level);
        s.html(msg);
    }
}

function xvpInit(ver) {
    var xvpbuttons;
    xvpbuttons = $('#noVNC_xvp_buttons');
    if (ver >= 1) {
        xvpbuttons.css("display", 'inline');
    } else {
        xvpbuttons.css("display", 'none');
    }
}
function fbResize(rfb, width, height) {
  var aspect = height/width;
  $("#noVNC_canvas").width($("#noVNC_canvas_parent").width());
  $("#noVNC_canvas").height($("#noVNC_canvas_parent").width()*aspect);
}

function parse_getperameter()
{
  var i;
  var p = location.href.split("?");
  if(p.length < 2){
    return {};
  }
  var p2 = p[1].split("&");
  var params = {};
  for ( i = 0; i < p2.length; i++ ) {
      var kv= p2[i].split("=");
      if(kv.length == 2){
        params[kv[0]] = kv[1];
      }
  }
  return params;
}

$(function(){
var path, token;
var params;
var host;
var port;
var password;

params = $.parseJSON($('#novnc-parameter').html())
host = params["host"];
port = params["port"];
password = params["password"];
path = 'websockify';

if(host === undefined || port === undefined || password === undefined || path === undefined){
  // todo error handling
  console.log("error!");
  return;
}

$('#sendCtrlAltDelButton').css("display", "inline");
$('#sendCtrlAltDelButton').click(sendCtrlAltDel);
$('#xvpShutdownButton').click(xvpShutdown);
$('#xvpRebootButton').click(xvpReboot);
$('#xvpResetButton').click(xvpReset);

try {
  rfb = new RFB({'target':$('#noVNC_canvas')[0],
                 'encrypt':false,
                 'repeaterID':'',
                 'true_color':true,
                 'local_cursor': 'cursor',
                 'shared': 'shared',
                 'view_only': 'false',
                 'onUpdateState': updateState,
                 'onXvpInit': xvpInit,
                 'onPasswordRequired': passwordRequired,
                 'onFBUComplete': FBUComplete,
                 'onFBResize': fbResize,
  });
} catch (exc) {
  console.log(exc);
  // todo error handling
  return;
}

console.log(host, port, password, path);
rfb.connect(host, port, password, path);

$(window).resize(function(){
  var aspect = $("#noVNC_canvas").height()/$("#noVNC_canvas").width();
  $("#noVNC_canvas").width($("#noVNC_canvas_parent").width());
  $("#noVNC_canvas").height($("#noVNC_canvas_parent").width()*aspect);
});

});
</script>
{% endblock %}
