{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}EWS - VM info - {{ vm.name }}{% endblock %}
{% block content %}

<table class="table table-striped table-bordered">
  <tr>
    <td>VM Name</td>
    <td>{{vm.name}} <a href="{% url 'vm:hostname_edit' vm_id=vm.id %}"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a></td>
  </tr>
  <tr>
    <td>CPU</td>
    <td>{{vm.cpu}} <a href="{% url 'vm:cpu_edit' vm_id=vm.id %}"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a></td>
  </tr>
  <tr>
    <td>CD Image</td>
    <td>{{vm.os}} <a href="{% url 'vm:cd_image_edit' vm_id=vm.id %}"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a></td>
  </tr>
  <tr>
    <td>Boot Device</td>
    <td>{{vm.bootdev}} <a href="{% url 'vm:bootdev_edit' vm_id=vm.id %}"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a></td>
  </tr>
  <tr>
    <td>Memory Size</td>
    <td>{{vm.memorysize}} <a href="{% url 'vm:memorysize_edit' vm_id=vm.id  %}"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a></td>
  </tr>
  <tr>
    <td>State</td>
    <td>{{vm.state}} {% include 'vm/_powercontrol.html' with vm=vm %}</td>
  </tr>
</table>

<h3>Disk</h3>
        <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>disk</th>
            <th>size</th>
          </tr>
        </thead>
        <tbody>
          {% for storage in vm.storages %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ storage.name }}</td>
              <td>{{ storage.get_gigabyte_size }} GB</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

<!-- TODO show from vm -->
<h3>Network</h3>
        <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>interfaces</th>
            <th>source</th>
            <th>mac address</th>
            <th>type</th>
          </tr>
        </thead>
        <tbody>
          {% for interface in vm.interfaces%}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ interface.source }}</td>
              <td>{{ interface.mac }}</td>
              <td>{{ interface.type }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

<h3>Statistics</h3>
<h5>CPU</h5>
      <img src="{% static "statistics/data/cpupng/" %}{{vm.uuid}}.png" class="img-responsive">
{% endblock %}
