<h1>Create New Virtual Machine</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'vm:success' %}" method="post">
{% csrf_token %}
  <div>
    <label>name:</label>
    <input type="text" name="name" />
  </div>

  <div>
  <label>memorysize:</label>
  <select name="memory">
  <option value="1GB">1GB</option>
  <option value="2GB">2GB</option>
  <option value="3GB">3GB</option>
  <option value="4GB">4GB</option>
  <option value="5GB">5GB</option>
  <option value="6GB">6GB</option>
  <option value="7GB">7GB</option>
  <option value="8GB">8GB</option>
  </select>
  </div>

  <div>
  <label>cpu:</label>
<select name="cpu">
<option value="1CPU">1</option>
  <option value="1CPU">1</option>
  <option value="2CPU">2</option>
  <option value="3CPU">3</option>
  <option value="4CPU">4</option>
  <option value="5CPU">5</option>
  <option value="6CPU">6</option>
  <option value="7CPU">7</option>
  <option value="8CPU">8</option>
</select>
  </div>

  <div>
  <label>OS:</label>
<select name="os">
<option value="FreeBSD10.1">FreeBSD10.1</option>
<option value="Ubuntu14.04">Ubuntu14.04</option>
<option value="Ubuntu12.04">Ubuntu12.04</option>
<option value="Arch">Arch</option>
<option value="debian8.0">debian8.0</option>
</select>
  </div>


<div>
<label>disk size:</label>
<input type="number" name="disksize" value="1028" />
</div>
<input type="submit" value="create" />
</form>
